.sepirationLine {
    display: inline-block;
    height: 24px;
    width: 1px;
    background-color: var(--color-neutral-500);
    opacity: 0.4;
    overflow: hidden;
}

.controlsBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}




.selectorContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 1rem;
}

.label {

    font-weight: 600;
    color: var(--color-neutral-500);
    font-size: 16px;
    margin-left: 0.5rem;
}

.pills {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.pill {
    background: transparent;
    border: 1px solid var(--color-neutral-400);
    color: var(--color-neutral-0);
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: var(--font-family-sora);
    font-weight: 500;
    font-size: 14px;
    transition: all 0.2s ease;
}

.pill:hover {
    color: hsl(var(--color-neutral-0));
    background: rgba(255, 255, 255, 0.05);
}

.pill.active {
    background-color: transparent;
    border-color: var(--color-blue-600);
    color: var(--color-blue-600);
}

.restartButton {
    background: hsl(var(--color-neutral-800));
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 1rem;
    /* Squircle */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin-left: 1rem;
}

.restartButton:hover {
    background: hsl(var(--color-neutral-0));
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.restartButton:hover img {
    filter: invert(1) brightness(0);
}

@media (max-width: 900px) {
    .controlsBar {
        justify-content: flex-start;
        width: 100%;
        margin-top: 2rem;
    }

    .selectorContainer {
        background: transparent;
        padding: 0;
    }
}